
 h1 {
  text-align: center;
  margin: 20px;
  font-weight: bold;
}

.example-card {
  max-width: 400px;
  min-width: 330px;
  margin: 20px 0;
  background-color:gainsboro;
}

.card-content {
  padding: 16px;
}

.botonVaciar, .botonPago {
  background-color:lightslategrey;
  padding: 10px 20px;
  margin-left: 40px;
  color: white;
  border:black 3px solid;
  border-radius: 40px;
  cursor: pointer;
}

.boton-rojo {
  background-color: red; 
  color: white; 
}

.seMuestraBoton{
  display: block;
}

@media (max-width: 520px) {
  .example-card {
    min-width: 90vw;
  }
} 

.carrito-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px; 
  justify-content: space-around;
  max-width: 100%; 
  padding: 20px 40px; 
}
