h1 {
  text-align: center;
  margin: 20px;
}
.productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.example-card {
  max-width: 400px;
  min-width: 330px;
  margin: 20px 0;
  background-color:gainsboro;
}

.card-content {
  padding: 16px;
}

.botonVaciar{
  background-color:darksalmon;
  margin-right: 10px;
}

.boton-rojo {
  background-color: red; 
  color: white; 
}

.seMuestraBoton{
  display: block;
}

.productosDelCarrito{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 520px) {
  .example-card {
    min-width: 90vw;
  }
}