<ng-container>
      <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{usuario.correoElectronico}}</mat-card-title>
        <mat-card-subtitle>{{usuario.direccionEntrega}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="card-content">
        <h4>Compras realizadas: {{usuario.compras.length}}</h4>
        <h4 *ngIf="usuario.rol == 1">Administrador</h4>
        <h4 *ngIf="usuario.rol == 2">Administrador y Comprador</h4>
      </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions class="buttons">
          <button mat-raised-button color="primary" (click)="modificarUsuario()">Modificar</button>
          <button mat-raised-button color="warn" (click)="eliminarUsuario()">Eliminar</button>
        </mat-card-actions>
    </mat-card>
  </ng-container>