<mat-toolbar class="nav">
    <button mat-button routerLink="/">Inicio</button>
    <button mat-button routerLink="/productos">Productos</button>
    <button mat-button routerLink="/carrito">Carrito</button>
    <span class="example-spacer"></span>
    <div *ngIf="!isLoggedIn">
        <button routerLink="/login" mat-button>Login</button>
        <button mat-button routerLink="/signup">Register</button>
    </div>
    <div *ngIf="isLoggedIn" class="navBarDerecha">
        <button mat-button routerLink="/perfil">Perfil</button>
        <div *ngIf="isAdmin">
            <button mat-button routerLink="/admin">Admin</button>
        </div>
        <button mat-button (click)="logout()">Cerrar Sesión</button>
    </div>
</mat-toolbar>