<div class="perfilInfo">
    <h1>¡Hola {{usuario!.correoElectronico}}!</h1>
    <h3>Tu dirección de entrega está configurada como: {{usuario!.direccionEntrega}}</h3>
    <div class="botonesPerfil">
        <button mat-raised-button class="botonesIndividual" color="primary" (click)="editarUsuario()">Editar mi perfil</button>
        <button mat-raised-button class="botonesIndividual" color="warn" (click)="eliminarUsuario()">Eliminar mi perfil</button>
    </div>
    <h2>Estas son tus compras</h2>
</div>
<ng-container *ngIf="compras !== undefined && compras.length !== 0">
    <!-- <h1>{{compras![0].nombrePromo}}</h1> -->
    <!-- <h3>{{compras![0].id}}</h3> -->
    <div class="compras">
        <app-compra *ngFor="let compra of compras; let i = index;" [compra]="compra"></app-compra>
        <!-- {{compras![0].nombrePromo}} -->
    </div>
</ng-container>
<div class="perfilInfo">
    <ng-container *ngIf="compras!.length == 0">
        <h3>No has realizado ninguna compra aún</h3>
    </ng-container>
</div>