.card-compra {
    min-width: 30vw;
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
    align-content: center;
}

.container-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}