.card-compra {
    min-width: 300px;
    max-width: 30vw;
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
    align-content: center;
}

.container-productos {
    padding-top: 10px;
}