.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 400px;
  margin: 15vh;
  background-color: lightblue;
  align-items: center;
}

.inputs {
  min-width: 300px;
}

.contenidoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registro{
  background-color: lightskyblue;
}