.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 400px;
  margin: 15vh;
  background-color: lightblue;
  align-items: center;
}

.inputs {
  min-width: 300px;
}

.checkbox{
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.contenidoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botones{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
