button {
  background-color:lightblue;
  padding: 15px 30px; /* Aumenta el padding para hacerlos más grandes */
  margin-left: 40px;
  color: black;
  border: black 3px solid;
  border-radius: 15px; /* Ajusta el valor para hacerlos más cuadrados */
  cursor: pointer;
  display: inline-block; /* Asegura que los botones tengan un tamaño fijo incluso si el contenido cambia */
  text-align: center; /* Centra el texto horizontalmente dentro del botón */
  text-decoration: none; /* Elimina el subrayado predeterminado en los botones */
}

/* Puedes agregar estilos adicionales para el hover o estados activos si lo deseas */
button:hover {
  background-color: darkslategrey;
}