button {
  background-color:lightblue;
  padding: 15px 30px;
  margin-left: 40px;
  color: black;
  border: black 3px solid;
  border-radius: 15px; 
  cursor: pointer;
  display: inline-block; 
  text-align: center;
  text-decoration: none; 
}

button:hover {
  background-color: darkslategrey;
}